# Data Structure - 3
-  pandas

## Pandas
-  http://cs231n.github.io/python-numpy-tutorial/
-  pandas - dataframe, excel like 
-  https://mode.com/python-tutorial/pandas-dataframe/ 
-  https://pandas.pydata.org/pandas-docs/stable/
-

In [47]:
import pandas as pd
import numpy as np
import os
#https://pandas.pydata.org/
print(pd.__version__)

2.0.3

In [51]:
#from list
my_list = [1,2,3,4,5,10,15,20]
df = pd.DataFrame(my_list , columns = ['columnName'])
df

   columnName
0           1
1           2
2           3
3           4
4           5
5          10
6          15
7          20

In [52]:
# from dictionary
my_dict = { 'A':[1,2,3,5, 9], 'B': [10, 20, 5, 39, 7],'C':[12,14,17,18,8],'D':[20,40,10,30,7]}
df = pd.DataFrame(my_dict)
df

   A   B   C   D
0  1  10  12  20
1  2  20  14  40
2  3   5  17  10
3  5  39  18  30
4  9   7   8   7

In [53]:
df.loc[1]  #row label

A     2
B    20
C    14
D    40
Name: 1, dtype: int64

In [54]:
df.iloc[2] # row index

A     3
B     5
C    17
D    10
Name: 2, dtype: int64

In [55]:
df.iat[0,1]  #single value interesction of row and col; col & row by index

10

In [56]:
df.at[0,'D']  #column by name

20

In [57]:
df.rename(columns = {'A':'income'})

   income   B   C   D
0       1  10  12  20
1       2  20  14  40
2       3   5  17  10
3       5  39  18  30
4       9   7   8   7

In [ ]:
df['D'].apply(lambda x : x*x)

In [ ]:
df.replace(10,0)

In [ ]:
df.agg({'C':['min', 'max', 'mean', 'sum',]})

In [58]:
df1 = pd.DataFrame({'rollno':[1,2,3], 'marks1':[4,5,6]})
df2 = pd.DataFrame({'rollno':[1,2,3], 'marks2':[7,8,9]})
print(df1)
print(df2)

#df = pd.merge(df1, df2, on='rollno') #
#merge is more versatile, it requires specifying the columns as a merge key. 
#print(df)

   rollno  marks1
0       1       4
1       2       5
2       3       6
   rollno  marks2
0       1       7
1       2       8
2       3       9

In [59]:
df1 = pd.DataFrame({'A':[1,2,3], 'B':[4,5,6]})
df2 = pd.DataFrame({'C':[7,8,9]})
print (df1,'\n', df2)
df = df1.join(df2)  #using index key
df

   A  B
0  1  4
1  2  5
2  3  6
    C
0  7
1  8
2  9

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [60]:
df['date'] = pd.to_datetime('2023-10-02')
df

   A  B  C       date
0  1  4  7 2023-10-02
1  2  5  8 2023-10-02
2  3  6  9 2023-10-02

In [62]:
import datetime as dt

In [61]:
print(df['date'].dt.year)
print(df['date'].dt.month)
print(df['date'].dt.day)

0    2023
1    2023
2    2023
Name: date, dtype: int32
0    10
1    10
2    10
Name: date, dtype: int32
0    2
1    2
2    2
Name: date, dtype: int32

In [63]:
df.to_csv('filedf.csv', index=False)

In [64]:
os.listdir()

['.git',
 '.gitattributes',
 '.ipynb_checkpoints',
 'A52_dsNP.ipynb',
 'A53_dsPD.ipynb',
 'filedf.csv',
 'Untitled.ipynb']

In [ ]:
## larger DF

In [65]:
df1 = pd.DataFrame({'rollno':[1,2,3,4,5], 
                    'name': [ "Dhiraj", "Kounal", "Akhil", "Pooja","Disha" ], 
                    'marks':[ 40, 50, 60.5, 70, 93 ], 
                    'gender':['M', 'M','M', 'F', 'F']})
print(df1)  # dict format
type(df1)

   rollno    name  marks gender
0       1  Dhiraj   40.0      M
1       2  Kounal   50.0      M
2       3   Akhil   60.5      M
3       4   Pooja   70.0      F
4       5   Disha   93.0      F

pandas.core.frame.DataFrame

In [66]:
print('Column Names - ', df1.columns)  #column names
print('Index/ Row Names - ', df1.index)  #row ids/ names  - here auto created
print('Data Types -\n', df1.dtypes) #data types
print('Shape of DF(R-C) -', df1.shape)  # rows and columns

Column Names -  Index(['rollno', 'name', 'marks', 'gender'], dtype='object')
Index/ Row Names -  RangeIndex(start=0, stop=5, step=1)
Data Types -
 rollno      int64
name       object
marks     float64
gender     object
dtype: object
Shape of DF(R-C) - (5, 4)

In [67]:
print('Describe Values (Numerical)-\t  ')
df1.describe() #description of numerical values

Describe Values (Numerical)-

         rollno      marks
count  5.000000   5.000000
mean   3.000000  62.700000
std    1.581139  20.327322
min    1.000000  40.000000
25%    2.000000  50.000000
50%    3.000000  60.500000
75%    4.000000  70.000000
max    5.000000  93.000000

In [68]:
# Groupby Functions on DF
df1.groupby('gender').size()  # how many M, F

gender
F    2
M    3
dtype: int64

## using Built In Data Sets
-  install pydatasets : !pip install pydataset

In [49]:
!pip install pydataset

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pydataset in c:\users\akash\appdata\roaming\python\python311\site-packages (0.2.0)
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (from pydataset) (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->pydataset) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\programdata\anaconda3\lib\site-packages (from pandas->pydataset) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\programdata\anaconda3\lib\site-packages (from pandas->pydataset) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas->pydataset) (1.16.0)

In [50]:
from pydataset import data
mtcars = data('mtcars')
mtcars.shape

ModuleNotFoundError: No module named 'pydataset'

In [ ]:
mtcars.head()

In [ ]:
mtcars.describe(include='all')

In [ ]:
mtcars.columns

In [ ]:
# settings of pandas
# https://pandas.pydata.org/docs/user_guide/options.html
pd.set_option('display.max_columns', None)
pd.set_option('max_colwidth', None)
pd.set_option("expand_frame_repr", True)
pd.set_option("max_info_columns", 11)
pd.set_option("display.precision", 3)
pd.set_option('display.width', 1000)  #wrap with full display

In [ ]:
np.set_printoptions(edgeitems=30, linewidth=100000,   formatter=dict(float=lambda x: "%.3g" % x))

In [ ]:
mtcars.columns

In [ ]:
mtcars.mean()

## Export Data to CSV/ Excel
-  write to csv 
    -  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html
-  write to excel
-   -  https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_excel.html
-  write to other formats

In [ ]:
mtcars.to_csv( 'mtcars.csv')
', '.join(os.listdir())

In [ ]:
import glob  #search file with pattern
glob.glob("*.csv")

In [ ]:
mtcars.to_excel('mtcars.xlsx')

In [ ]:
glob.glob("*.xlsx")

## Import Data to CSV/ Excel/ Web CSV
-  from csv
-  from excel
    -  https://pandas.pydata.org/docs/reference/api/pandas.read_excel.html

In [ ]:
df1 = pd.read_csv('mtcars.csv')
df1.head()

In [ ]:
df1B = df1.drop("Unnamed: 0", axis=1)
df1B.head()

### remove unnamed column or at the time of saving to csv, don't save index column
-  mtcars.to_csv('mtcars.csv', index=False)
-  mtcars.to_excel('mtcars.xlsx', index=False)

In [ ]:
df2 = pd.read_excel('mtcars.xlsx', sheet_name=0)
df2.head()

In [ ]:
# Not try import your own data in excel or csv into python and do summary

## Links
-  https://pandas.pydata.org/docs/user_guide/index.html
-  https://pandas.pydata.org/docs/reference/index.html

### Next
-  do summary actions on dataframe structure